$primary: #365099;
$yellow: #f0ec46;
$status: #f3ef6b;
$white: #fff;
$background: rgba(0, 0, 0, 0.5);
$background-primary: rgba(54, 80, 153, 0.5);
$shadow: rgba(0, 0, 0, 0.25);
$name: #fe805c;
$brand: #afafbd;
$white-contrast: #f9f9fc;
$error: #ed0707;
